p {
    font-family: "Lucida Console", serif;
    font-size: 24px;
}

#snLink {
    margin-bottom: 20px;
}
#snLink a {
    font-size: 16px;
    font-family: Georgia, serif;
    color: blue;
}
#indexImage {
    margin-bottom: 20px;
}
body {
    text-align: center;
}